:root {
    --terminal-text: #008000;
  
    --square-size: 90px;
    --square-size: 12%;
}
  
@font-face {
    font-family: mainFont;
    src: url('../assets/fonts/terminal.otf');
}
@font-face {
    font-family: mainFontBold;
    src: url('../assets/fonts/terminalBold.otf');
}
  
* {
    margin: 0;
    padding: 0;
  
    font-family: mainFont;
    color: var(--terminal-text);
}
  
h1 {
    font-family: mainFontBold;
}
  
html {
    background: #191919;
}
  
button {
    cursor: pointer;
}
  
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
.gameHeader {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 75px;
}
  
.header-btn {
    position: absolute;
  
    background-color: #00000000;
    width: 52px;
    aspect-ratio: 1;
    border: none;
    outline: none;
  
    cursor: pointer;
}
  
.docs-btn {
    left: 15px;
    background-image: url('../assets/icons/docs.svg');
}

.back-btn {
    right: 15px;
}

.backImg {
    background-image: url('../assets/icons/back.svg');
}

.main {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    overflow-y: scroll;
}
  
.main::-webkit-scrollbar {
    width: 0;
}

.terminal {
    z-index: 5;
    overflow: hidden;
    max-width: 80%;
    border-radius: 20px;
    box-shadow:  17px 17px 40px #0A0A0A,
                -17px -17px 40px #282828;
}
  
.command-history {
    display: flex;
    flex-direction: column;
  
    position: relative;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  
    background-color: black;
    font-size: 1rem;
  
    width: 100%;
    height: 15rem;
}
  
.command-history::-webkit-scrollbar {
    width: 15px;
}
  
.command-history::-webkit-scrollbar-track {
    background-color: #00000000;
}
  
.command-history::-webkit-scrollbar-thumb {
    background-color: var(--terminal-text);
}
  
.terminal-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
  
    background-color: black;
    border-top: 1px var(--terminal-text) solid;
}
  
.code-in {
    width: 100%;
    padding: 1rem;
  
    color: var(--terminal-text);
    background-color: inherit;
    font-size: 1.2rem;
    border: none;
    outline: none;
}
  
@media only screen and (max-width: 915px){
    .main {
      grid-template-columns: 1fr;
    }
    .command-history {
      height: 10rem;
    }
}