:root {
    --square-size: 90px;
    --square-size: 12%;
}
  
@font-face {
    font-family: mainFont;
    src: url('../assets/fonts/terminal.otf');
}
@font-face {
    font-family: mainFontBold;
    src: url('../assets/fonts/terminalBold.otf');
}
  
* {
    font-family: mainFont;
    color: var(--terminal-text);
}
  
h1 {
    font-family: mainFontBold;
}
  
html {
    background: #191919;
}
  
button {
    cursor: pointer;
}
  
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
.gameHeader {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 75px;
}
  
.header-btn {
    position: absolute;
    display: grid;
    place-items: center;
  
    background-color: #00000000;
    width: 52px;
    aspect-ratio: 1;
    border: none;
    outline: none;
  
    cursor: pointer;
}
  
.docs-btn {
    left: 15px;
}

.back-btn {
    right: 15px;
}

.backImg {
    background-image: url('../assets/icons/back.svg');
}

.main {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    overflow-y: scroll;
}
  
.main::-webkit-scrollbar {
    width: 0;
}
  
@media only screen and (max-width: 915px){
    .main {
      grid-template-columns: 1fr;
    }
}