* {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.board:nth-child(odd) {
  background: #4b648a;
}
.board:nth-child(even) {
  background: #d0dff4;
}

.board {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(8, 1fr);
}

.row {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(8, 1fr);
}

