:root {
  --bg-clr1: #202020;
  --bg-clr2: #252525;

  --text-clr: #008000;
}

* {
  padding: 0;
  margin: 0;
}
  
@font-face {
    font-family: mainFont;
    src: url('assets/terminal.otf');
}
@font-face {
    font-family: mainFontBold;
    src: url('assets/terminalBold.otf');
}

html {
  color: var(--text-clr);
  background-color: var(--bg-clr1);
  font-family: mainFont;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 6px #000000;
}

.mainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
}

.waves {
  background-image: url("./assets/waves.svg");
  height: 15rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.titleBar {
  position: relative;
}

.titleImage {
  width: 90px;
  aspect-ratio: 1;
  position: absolute;
  top: -45px;
  z-index: -1;
}

.left {
  background-image: url("./assets/wp.png");
  left: -90px;
  transform: rotateZ(25deg);
}

.right {
  background-image: url("./assets/bp.png");
  right: -90px;
  transform: rotateZ(-25deg);
}

.mainMenu {
  background-color: #252525;
  border-radius: 15px;
  padding: 10px;
}

.menuItem {
  padding: 5px 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  place-items: center;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--bg-clr1);
}

h2 {
  padding: 5px 10px;
}

.menuImg {
  width: 50px;
  aspect-ratio: 1;
  padding: 10px 0;
  background-position: center;
  background-repeat: no-repeat;
}

.game {background-image: url('./assets/game.svg')}
.lessons {background-image: url('./assets/puzzle.svg')}
.docs {background-image: url('./assets/docs.svg')}
.account {background-image: url('./assets/user.svg')}
