
:root {
    --background: #0A0A0A;
    --accent: #191919;
    --accent2: #111111;
}

* {
    padding: 0;
    margin: 0;
}

.docs {
    position: sticky;
    max-height: 100%;
    max-width: 100%;

    display: grid;
    place-items: center;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 250px;
    padding: 0 10px 0 10px;

    background-color: var(--accent2);
}

h1 {
    text-align: center;
    padding: 20px 0;
}

.list-section {
    border-top: 1px #008000 solid;
    padding-bottom: 0.5em;
}

.list-section h2 {
    font-size: 1.4rem;
    cursor: pointer;
}

.method {
    font-size: 1.1rem;
    cursor: pointer;
}

.list-section h2:hover,
.method:hover {
    text-decoration: underline #008000;
}

.main {
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);

    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 3rem;

    background-color: var(--background);
}

section {
    display: grid;
    align-items: center;
    height: 100%;
    width: 40%;
    border-radius: 25px;
    background-color: var(--accent2);
    margin-top: 4em;
}

section h2 {
    padding-bottom: 10px;
}

.card {
    background-color: var(--background);
    width: 100%;
}