
:root {
    --background: #0A0A0A;
    --accent: #191919;
    --accent2: #111111;
}

* {
    padding: 0;
    margin: 0;
}

.docs {
    position: sticky;
    max-height: 100%;
    max-width: 100%;

    display: grid;
    place-items: center;

    overflow: hidden;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: calc(100vh - 75px);
    width: 250px;

    background-color: var(--accent2);
}

h1 {
    text-align: center;
    padding: 20px 0;
}

.list-section {
    border-top: 1px #008000 solid;
    padding: 0.5em;
}

.list-section h2 {
    font-size: 1.4rem;
    cursor: pointer;
}

.method {
    font-size: 1.1rem;
    cursor: pointer;
}

.list-section h2:hover,
.method:hover {
    text-decoration: underline #008000;
}

.main {
    width: 100%;
    max-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    width: 15px;
}

.main::-webkit-scrollbar-track {
    background-color: #00000000;
}

.main::-webkit-scrollbar-thumb {
    background-color: var(--terminal-text);
}

.doc-column {
    position: relative;
    max-height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin-top: 4rem;
}

section .scrolled {
    animation: flash-section 2s ease-out 0s;
}

@keyframes flash-section {
    0% { background-color: #9ACD32 }
    100% { background-color: #111111 }
}

div .scrolled {
    animation: flash-div 2s ease-out 0s;
}

@keyframes flash-div {
    0% { background-color: #9ACD32 }
    100% { background-color: #292929 }
}