@import "tailwindcss";

:root {
    background-color: rgb(34, 34, 34);
}

@font-face {
    font-family: "terminal";
    src: url(./assets//fonts/terminal.otf);
}

@font-face {
    font-family: "terminalBold";
    src: url(./assets//fonts/terminalBold.otf);
}

* {
    font-family: "terminal";
}